.info-container {
    height: 60vh;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
}

.info>h2 {
    font-size: 45px;
    padding: 5px;
}


@media only screen and (max-width: 960px) {

    .info-container {
        height: 30vh;
    }

    .info > h2 {
        text-align: center;
        font-size: 28px;
        padding: 5px;
    }

}