.info-container {
    width: 100%;
    height: 200px;
    background-color: white;
    color: black;
    z-index: -2;
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 50px;
    height: 100%;
}

@media only screen and (max-width: 960px) {
    .info-container {
        height: 200px;
        width: 100%;
    }

    .info > h1 {
        text-align: center;
        font-size: 28px;
    }

    .info {
        padding: 30px;
        height: 100%;
    }
}